#PORT
PORT=7071

#CORS ORIGIN
CORS_ORIGIN=http://localhost:3000

#DATABASE INFO
MONGODB_URI=mongodb://63.676.80.107:27017
DB_NAME=vnxrdbn

#ACCESS TOKEN
ACCESS_TOKEN_SECRET=DdsrJfgh46SRI
ACCESS_TOKEN_EXPIRY=1d

#REFRESH TOKEN
REFRESH_TOKEN_SECRET=KLJWjfgke4U90iw9094EW
REFRESH_TOKEN_EXPIRY=7d

#SMTP INFO
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=erdkydv@gmail.com
SMTP_PASSWORD=ophq gkwz coxd iptu

#CLIENT URL
CLIENT_URL=http://localhost:7071/api/v1/user

#GOOGLE OAUTH
GOOGLE_CLIENT_ID=1050866444416-9h7l8j1m

#AWS S3 CONFIG
AWS_ACCESS_KEY_ID=AHOUGH32
AWS_SECRET_ACCESS_KEY=7IFaf/cRUhpcr
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=vnx
