#PORT
PORT=7071

#CORS ORIGIN
CORS_ORIGIN=*

#DATABASE INFO
MONGODB_URI=
DB_NAME=

#ACCESS TOKEN
ACCESS_TOKEN_SECRET=Ddsrt5436356gek78KFJfgh46SRI
ACCESS_TOKEN_EXPIRY=1d

#REFRESH TOKEN
REFRESH_TOKEN_SECRET=KLJWjfgkewrt89349O4U90kdfgiw9094EW
REFRESH_TOKEN_EXPIRY=7d